.map{
    display: flex;
    

    &__iframe{
        width: 50%;

        iframe{
            width: 100%;
        }
    }
    &__address{
        text-align: center;
        width: 50%;
        background-color: #ffcb2d;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 0;

        i{
            font-size: 30px;
            
            color: $main-color;
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;

        &__iframe, &__address{
            width: 100%;
        }
    }
}