@import "./variable";
@import "./reset";

@import "./header";
@import "./popup-total";
@import "./check";
@import "./map";
@import "./footer";

.header {
    &__bar {
      position: relative;
      background: url("../img/b2.jpg") no-repeat center;
      background-size: cover;
      height: 350px;
    }
    &__breadcumb {
      background-color: $main-color;
  
      &-list {
        display: flex;
        justify-content: center;
        padding: 20px 0;
      }
      &-link {
        color: white;
      }
      &-item:last-child {
        margin-left: 5px;
      }
    }
  }