@import "./SCSS/variable";
@import "./SCSS/reset";

@import "./SCSS/header";
@import "./SCSS/product";
@import "./SCSS/popup-total";
@import "./SCSS/map";
@import "./SCSS/footer";

.header {
  &__bar {
    position: relative;
    background: url("./img/b2.jpg") no-repeat center;
    background-size: cover;
    height: 350px;
  }
  &__breadcumb {
    background-color: $main-color;

    &-list {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
    &-link {
      color: white;
    }
    &-item:last-child {
      margin-left: 5px;
    }
  }
}


